body{
    background-image: url('./imgs/login-bg.jpg');
    background-size: cover;
    
}
.box{
    background: rgba(9, 9, 9, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
#upp{
    background: rgba(9, 9, 9, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    font-family: "Enter Sansman", sans-serif;
}
.down {
    background: rgba(9, 9, 9, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    justify-content: center;
    display: flex;
    align-items: center;
    color: whitesmoke;
    font-family: "Enter Sansman", sans-serif;
  }
  .btns{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    font-family: "Enter Sansman", sans-serif;
  }
  .btns2{
    width: 100px !important;
    height: 100px !important;
  }

  .edits{
    width: 50px !important;
    height: 50px !important;
  }
  
  #cadastroPost{
    background-image: url('./imgs/modal-bg.jpg');
    background-size: cover;
  }
  .cadastroContent{
    background: rgba( 0, 0, 0, 0.25 ) !important;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ) !important;
    backdrop-filter: blur( 16px ) !important;
    -webkit-backdrop-filter: blur( 16px ) !important;
    border-radius: 10px !important;
    border: 1px solid rgba( 255, 255, 255, 0.18 ) !important;
  }
  #updatePost{
    background-image: url('./imgs/city.jpeg');
    background-size: cover;
  }
  .updateContent{
    background: rgba( 0, 0, 0, 0.25 ) !important;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ) !important;
    backdrop-filter: blur( 16px ) !important;
    -webkit-backdrop-filter: blur( 16px ) !important;
    border-radius: 10px !important;
    border: 1px solid rgba( 255, 255, 255, 0.18 ) !important;
  }